{% extends 'accounts/base.html' %}
{% block title %}
  Reset Password
{% endblock %}

{% block content %}
   <br>
   <br>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
      <div class="card">
        <div class="card-body bg-dark">


          {% if validlink %}
            <h3 class="card-title text-warning">Change password for @{{ form.user.username }}</h3>
            <form method="POST">
               {% csrf_token %}
               {% include 'accounts/includes/reset_confirm_form.html' %}
           </form>
          {% else %}
            <h3 class="card-title text-light">Reset your password</h3>
            <div class="alert alert-danger" role="alert">
              It looks like you clicked on an invalid password reset link. Please try again.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-outline-warning">Request a new password reset link</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}