{% load widget_tweaks %}
<br>
<div class="container ">
<div class="row mx-auto">
  <div class="col-sm-6 mx-auto">
    <div class="card border-success">
      <div class="card-body  text-light bg-dark ">
        <h3 class="card-title text-light">Change Password</h3>
        {% for field in form %}
        <div class="form-group">
             {{ field.label_tag }}
            <div class="input-group input-group-lg ">
                {{field}}
            </div>
            <br>
            {% endfor %}
        
        <button type="submit"  class="btn btn-success" >Change Password</button>
      </div>
    </div>
  </div>
 
 </div>