{% load widget_tweaks %}
{% load static %}
<div class="card mb-2 mx-auto border-success" style="max-width: 540px;">
  
    <div class="col-mb-3">
      <div class="card-body text-info bg-dark">
        <h3 class="card-title text-light">Signup</h3>
        {% for field in form %}
            <div class="form-group">
             {{ field.label_tag }}
            <div class="input-group input-group-lg">
                {{field}}
            </div>

           {% if field.help_text %}
           <small class="form-text text-muted">
               {{ field.help_text|safe }}  <!-- new code here -->
           </small>
          {% endif %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Signup</button>
        <br>
        <br>
        <div class= "text-danger">
        If you alredy have an account, <a class="btn btn-outline-warning" href="{% url 'login' %}" role="button">Login</a> instead.
        </div>
      </div>
    </div>
  </div>
</div>